#mypageTitle {
    margin-top: 20px;
    background-color: #f3f3f3;
    color: #595959;
    height: 100%;
    padding: 10px;
    margin-bottom:0px;
}

#mypageList {
    background-color: #d15851;
    vertical-align: middle;
    height: 42px;
    padding: 10px;
}

#mypageList > a {
    text-decoration-line: none;
    color: white;
    padding: 8px;
    padding-top:10px;
}

.mypage-tab-clicked{
    background-color: #595959;
    padding-bottom:100px;
}

#mypageTitle-under{
    margin-top:50px;
	font-weight: bold; 
	color:#d15851; 
}